<div class="idea-digest">
	<div class="row">
		<div class="col-xs-12">
			<div class="idea col-xs-9 col-sm-10">
				<span id="idea-title" class="h3" {{action "clickTitle"}}> {{idea.title}} </span>
				<p>{{idea.body}}</p>
			</div>
		</div>
	</div>
</div>