<div class="idea-comment">
	<div class="row">
		<div class="col-xs-10">
			<blockquote class="comment-body">
				{{comment.body}}
				<footer>
					Author:
					<cite>
						{{comment.author.username}}
					</cite>
				</footer>
			</blockquote>
		</div>

		<div class="col-xs-2">
			<img {{bind-attr src=comment.author.avatar}} alt="Author Avatar" class="comment-image img-responsive img-circle">
		</div>
	</div>
</div>