<div class="row" style="cursor: pointer;" {{action 'show'}}>
	<div class="col-xs-6"><img {{bind-attr src=user.avatar}} class="img-responsive img-thumbnail" alt="User Avatar"></div>
	<div class="col-xs-6" style="word-wrap:normal;">
		<div class="row">
			<div class="col-xs-12">{{user.username}}</div>
		</div>
	</div>
</div>