div.user-profile-digest {
	
	cursor: pointer;

	.username {
		margin-bottom:10px;
		border: none;
	}

	img:hover {
		transition: background-color 0.5s ease;
		background-color: #E0E0E0;
	}
	
	.fade-background {
		border-radius: 4px;
	}

	.fade-background:hover {
		transition: background-color 0.65s ease;
		background-color: #F0F0F0;
	}

}