html, body {
  margin: 10px;
}

ul#ideas {
	padding: 10px 0 0 0;
}

ul#ideas > div.container-fluid > div.row > li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0px;
	padding: 5px;
}

ul#ideas > div.container-fluid > div.row > li button.killIdea {
	float: left;
	width: 100%;
	height: 100%;
}

ul#ideas > div.container-fluid > div.row > li button.visitIdea {
	width:100%;
	height:100%;
	float: right;
}

ul#ideas > div.container-fluid > div.row > li div.idea {
	display:table-cell;
}