@import 'ideas';
@import 'users';

// Including components
@import 'components/idea-comment';
@import 'components/user-profile-digest';

div.container-fluid {
  	margin: 10px;
}

.transparent-background {
	background-color:transparent;
}

.transparent-background:hover {
	background-color:transparent;
}