@import 'ideas';
@import 'users';

div.container-fluid {
  	margin: 10px;
}

.transparent-background {
	background-color:transparent;
}

.transparent-background:hover {
	background-color:transparent;
}