<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div>
					<h1 style="margin: 15px 0;" class="text-center">Bring your ideas to life</h1>
				</div>
				<button id="submitIdea" class="btn btn-success" {{action 'showModal' 'submit-idea-modal'}}>
					<strong>Submit Idea</strong>&nbsp;&nbsp;{{fa-icon "plus"}}
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<ul id="ideas" class="list-unstyled">
					{{#each idea in model}}
						<li>
						{{idea-digest idea=idea close='destroyIdea' clickTitle='visitIdea'}}
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>