<div id="user-profile">
	<div class="row">
		<div class="col-xs-3">
			<img {{bind-attr src=avatar}} class="img-responsive img-thumbnail" alt="User Profile Image">
		</div>
		<div class="col-xs-9">
			<div class="row">
				<div class="col-xs-12">
					<h2 id="username">
						{{username}}
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<span>{{about}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-9">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs">
						{{!-- https://github.com/emberjs/ember.js/pull/1849 for explanation of the following lines --}}
						{{!-- alternate handlebars solution: http://stackoverflow.com/a/23153372/3026248 --}}

						{{#link-to 'users.user.index' tagName='li' role="presentation"}}
							{{#link-to 'users.user.index'}} Home {{/link-to}}
						{{/link-to}}
						{{#link-to 'users.user.ideas' tagName='li' role="presentation"}}
							{{#link-to 'users.user.ideas'}} Ideas {{/link-to}}
						{{/link-to}}
						{{#link-to 'users.user.comments' tagName='li' role="presentation"}}
							{{#link-to 'users.user.comments'}} Comments {{/link-to}}
						{{/link-to}}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">{{outlet}}</div>
			</div>
		</div>
	</div>
</div>
