<div id="user-profile">
	<div class="row">
		<div class="col-xs-3">
			<img {{bind-attr src=avatar}} class="img-responsive img-thumbnail" alt="User Profile Image">
		</div>
		<div class="col-xs-9">
			<div class="row">
				<div class="col-xs-12">
					<h2 id="username">
						{{username}}
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<span>{{about}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-9">
			<div class="row">
				<div class="col-xs-12">
					{{#link-to 'users.user.index' class="btn btn-default"}} Home {{/link-to}} 
					{{#link-to 'users.user.ideas' class="btn btn-default"}} Ideas {{/link-to}} 
					{{#link-to 'users.user.comments' class="btn btn-default"}} Comments {{/link-to}} 
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">{{outlet}}</div>
			</div>
		</div>
	</div>
</div>
